body {
    background-color: rgb(32, 29, 48);
    /* color: rgb(153, 92, 208); */
    color: rgb(211,211,211);
    font-family: 'Nova Square';
}

.The_Plug_Buttons{
    position: relative;
       max-width: 95%;
       margin: 5px;
       padding: 0;
       
}

.The_Plug_Buttons:hover{
    position: relative;
       max-width: 100%;
}

.navbar{
    background-color: rgb(85, 73, 183);
    height: 125px;
    text-align: center;
}

.nav-link{
    color: rgb(211,211,211);
    font-family: 'Nova Square';
    font-size: 50px;
    margin-right: 20px;
}
.carousel{
    margin-left: auto;
    margin-right:auto;
}

.logo{
    height: 70px;
    object-fit: cover;
}

h2{
    text-align: center;
    width: auto;
    font-size: 50px;
}

.about{
    text-align: center;
    margin: auto;
    font-size: 50px;
}

.The_Plug_Border{
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(45deg, rgb(85,73,183) 0, rgb(85,73,183) 1em, transparent 0, transparent 2em,
                    rgb(85,73,183) 0, rgb(85,73,183) 3em, transparent 0, transparent 4em);        
    max-width: 100%;
}

a:hover{
    color:rgb(236,119,68)
}

a:active{
    color: rgb(142,223,95);
}

/* a:visited{
    color: rgb(153,92,208)
} */

.navbar-nav{
    justify-content: center;
}

.Plug_Banner{
    max-width: 100%;
}

.carousel-inner .carousel-item img{
    height: max-content;
    width: max-content;
    min-height: 400px;
    }

h3{
    font-size: 70px;;
    background-color: black;
    opacity: .8;
    border-radius: 25px;
}

.carousel-item h3 {
    position: absolute;
    margin: 0;
    color: rgb(211,211,211);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

.Skill_Level{
    margin-left: 25px;
    font-size: 50px;
    text-decoration: underline;
}

.The_Plug_Skill_Level_Border{
    margin: 1em;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(45deg, rgb(85,73,183) 0, rgb(85,73,183) 1em, transparent 0, transparent 2em,
                    rgb(85,73,183) 0, rgb(85,73,183) 3em, transparent 0, transparent 4em);
}

.The_Plug_Skill_Level_Border_Even{
    margin: 1em;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(45deg, rgb(142,223,95) 0, rgb(142,223,95) 1em, transparent 0, transparent 2em,
                    rgb(142,223,95) 0, rgb(142,223,95) 3em, transparent 0, transparent 4em);
}

.line_shop{
    position: relative;

}

.The_Plug_Product_Color{
    margin-left: 3%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(153,92,208);
    display: inline-block;
}

.The_Plug_Product_Color_Even{
    margin-left: 3%;
    margin-top: 25px;
    margin-bottom: 25px;
    background-color: rgb(236,119,68);        
    display: inline-block;

}

.Product_Details{
    margin: 10px;
}

.Product_Title{
    font-size: 35px;
}

.Product_Type{
    font-size: 30px;
}

.Product_Price{
    font-size: 30px;
}

.image-edit{
    width: 520px;
}

.image-edit img {
    width: 100%;
}

.main_border{
    margin: 1em;
    padding: 1em;
    border: 16px solid transparent;
    border-image: 16 repeating-linear-gradient(45deg, rgb(85,73,183) 0, rgb(85,73,183) 1em, transparent 0, transparent 2em,
                    rgb(85,73,183) 0, rgb(85,73,183) 3em, transparent 0, transparent 4em);
    font-size: 30px;
                }

.form-check{
    font-size: 20px;
}

input[type=radio]{
    transform:scale(1.5)
}

.News_Letter_Header{
    margin: 20px;
    text-decoration: underline;
    text-align: center;
}

.btn{
    color: rgb(211,211,211);
    font-size: 35px;
    background-color: rgb(236,119,68);
    border-color: rgb(236,119,68);
}

.btn:hover{
    color: rgb(211,211,211);
    font-size: 35px;
    background-color:rgb(153,92,208);
    border-color: rgb(153,92,208); 
}

.btn:active{
    border-color: rgb(153,92,208);
}

.mb-3{
    max-width:25%;
}

*:required{
    background-color: rgb(142,223,95) ;
}

footer{
    text-align: center;
    font-size: 25px;
}